.menuStory-btn {
font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}

.menuStory-btn:hover {
background-color: rgb(234, 170, 201);
  color: white;
}

.granny {
    width: 20%;
}

h2 {
    margin-left: 15%;
    margin-right: 15%;
    line-height: normal;
}

.ingredients-header h2{
    margin-top: 4px;
}

.help {
    color: #4e4943;
    font-size: 35px;
}

.menuStory-header {
    color: #4e4943;
}